In [1]:
import pandas as pd
import json
import numpy as np
from sklearn.model_selection import StratifiedKFold, KFold, RepeatedKFold
import math
from six.moves import xrange
from catboost import Pool, CatBoostRegressor

In [3]:
def digitalize(event):
    if event=='view':
        dig=0.1
    elif event=='dislike':
        dig=-10
    elif event=='skip':
        dig=-0.1
    elif event=='like':
        dig=0.5
    return dig

In [4]:
class CustomlossObjective(object):
    def calc_ders_range(self, approxes, targets, weights):
        # approxes, targets, weights are indexed containers of floats
        # (containers with only __len__ and __getitem__ defined).
        # weights parameter can be None.
        # Returns list of pairs (der1, der2)
        result = []
        for index in xrange(len(targets)):
            der1 = approxes[index]*targets[index]
            if weights is not None:
#            if weights[index] is not None:
                der1 *= weights[index]

            result.append(der1)

        return np.sum(result)

In [5]:
def my_gain(preds, train_data):
    s=0
    for i in range(len(preds)):
        s=s+preds[i]*train_data[i]
    return s

In [6]:
df_stories_react_train=pd.read_csv('stories_reaction_train.csv')
df_customer_train=pd.read_csv('customer_train.csv')
df_stories_description=pd.read_csv('stories_description.csv')
#print(df_stories_react_train.head(5))
#print(df_customer_train.head(5))
#print(df_stories_description.head(5))

In [7]:
df_stories_react_train['event_value']=[digitalize(x) for x in df_stories_react_train['event']]

In [8]:
df1=pd.merge(df_stories_react_train, df_customer_train, how='left', on='customer_id')

In [9]:
n_fold = 5
folds = KFold(n_splits=n_fold, shuffle=True, random_state=11)

In [12]:
X_train=df1.drop(['event', 'event_value','event_dttm','first_session_dttm','job_title'],axis=1)
Y_train=df1['event_value']
print(len(X_train),X_train.head(50))
print(len(Y_train),Y_train.head(50))

473141     customer_id  story_id product_0 product_1 product_2 product_3 product_4  \
0            15       138       NaN       CLS       UTL       UTL       NaN
1            15       202       NaN       CLS       UTL       UTL       NaN
2            15       222       NaN       CLS       UTL       UTL       NaN
3            15       379       NaN       CLS       UTL       UTL       NaN
4            15       544       NaN       CLS       UTL       UTL       NaN
5            15       610       NaN       CLS       UTL       UTL       NaN
6            15       645       NaN       CLS       UTL       UTL       NaN
7            15       687       NaN       CLS       UTL       UTL       NaN
8            15       770       NaN       CLS       UTL       UTL       NaN
9            15       781       NaN       CLS       UTL       UTL       NaN
10           15       784       NaN       CLS       UTL       UTL       NaN
11           15       807       NaN       CLS       UTL       UTL       NaN
12           15       811       NaN       CLS       UTL       UTL       NaN
13           15       815       NaN       CLS       UTL       UTL       NaN
14           15       844       NaN       CLS       UTL       UTL       NaN
15           15       888       NaN       CLS       UTL       UTL       NaN
16           15       888       NaN       CLS       UTL       UTL       NaN
17           15       896       NaN       CLS       UTL       UTL       NaN
18           15       900       NaN       CLS       UTL       UTL       NaN
19           15       916       NaN       CLS       UTL       UTL       NaN
20           15       944       NaN       CLS       UTL       UTL       NaN
21           15       954       NaN       CLS       UTL       UTL       NaN
22           15       959       NaN       CLS       UTL       UTL       NaN
23           15       959       NaN       CLS       UTL       UTL       NaN
24           15       973       NaN       CLS       UTL       UTL       NaN
25           15       985       NaN       CLS       UTL       UTL       NaN
26           15       985       NaN       CLS       UTL       UTL       NaN
27           15      1011       NaN       CLS       UTL       UTL       NaN
28           15      1012       NaN       CLS       UTL       UTL       NaN
29           15      1020       NaN       CLS       UTL       UTL       NaN
30           15      1057       NaN       CLS       UTL       UTL       NaN
31           15      1072       NaN       CLS       UTL       UTL       NaN
32           15      1072       NaN       CLS       UTL       UTL       NaN
33           15      1119       NaN       CLS       UTL       UTL       NaN
34           15      1120       NaN       CLS       UTL       UTL       NaN
35           15      1141       NaN       CLS       UTL       UTL       NaN
36           15      1276       NaN       CLS       UTL       UTL       NaN
37           15      1298       NaN       CLS       UTL       UTL       NaN
38           15      1310       NaN       CLS       UTL       UTL       NaN
39           15      1312       NaN       CLS       UTL       UTL       NaN
40           15      1324       NaN       CLS       UTL       UTL       NaN
41           15      1339       NaN       CLS       UTL       UTL       NaN
42           15      1343       NaN       CLS       UTL       UTL       NaN
43           15      1346       NaN       CLS       UTL       UTL       NaN
44           15      1356       NaN       CLS       UTL       UTL       NaN
45           15      1356       NaN       CLS       UTL       UTL       NaN
46           15      1359       NaN       CLS       UTL       UTL       NaN
47           15      1362       NaN       CLS       UTL       UTL       NaN
48           15      1376       NaN       CLS       UTL       UTL       NaN
49           73       126       CLS       CLS       UTL       CLS       NaN

   product_5 product_6 gender_cd  age marital_status_cd  children_cnt  \
0        UTL       UTL         M   40               MAR             1
1        UTL       UTL         M   40               MAR             1
2        UTL       UTL         M   40               MAR             1
3        UTL       UTL         M   40               MAR             1
4        UTL       UTL         M   40               MAR             1
5        UTL       UTL         M   40               MAR             1
6        UTL       UTL         M   40               MAR             1
7        UTL       UTL         M   40               MAR             1
8        UTL       UTL         M   40               MAR             1
9        UTL       UTL         M   40               MAR             1
10       UTL       UTL         M   40               MAR             1
11       UTL       UTL         M   40               MAR             1
12       UTL       UTL         M   40               MAR             1
13       UTL       UTL         M   40               MAR             1
14       UTL       UTL         M   40               MAR             1
15       UTL       UTL         M   40               MAR             1
16       UTL       UTL         M   40               MAR             1
17       UTL       UTL         M   40               MAR             1
18       UTL       UTL         M   40               MAR             1
19       UTL       UTL         M   40               MAR             1
20       UTL       UTL         M   40               MAR             1
21       UTL       UTL         M   40               MAR             1
22       UTL       UTL         M   40               MAR             1
23       UTL       UTL         M   40               MAR             1
24       UTL       UTL         M   40               MAR             1
25       UTL       UTL         M   40               MAR             1
26       UTL       UTL         M   40               MAR             1
27       UTL       UTL         M   40               MAR             1
28       UTL       UTL         M   40               MAR             1
29       UTL       UTL         M   40               MAR             1
30       UTL       UTL         M   40               MAR             1
31       UTL       UTL         M   40               MAR             1
32       UTL       UTL         M   40               MAR             1
33       UTL       UTL         M   40               MAR             1
34       UTL       UTL         M   40               MAR             1
35       UTL       UTL         M   40               MAR             1
36       UTL       UTL         M   40               MAR             1
37       UTL       UTL         M   40               MAR             1
38       UTL       UTL         M   40               MAR             1
39       UTL       UTL         M   40               MAR             1
40       UTL       UTL         M   40               MAR             1
41       UTL       UTL         M   40               MAR             1
42       UTL       UTL         M   40               MAR             1
43       UTL       UTL         M   40               MAR             1
44       UTL       UTL         M   40               MAR             1
45       UTL       UTL         M   40               MAR             1
46       UTL       UTL         M   40               MAR             1
47       UTL       UTL         M   40               MAR             1
48       UTL       UTL         M   40               MAR             1
49       UTL       UTL         M   45               MAR             1

    job_position_cd
0                17
1                17
2                17
3                17
4                17
5                17
6                17
7                17
8                17
9                17
10               17
11               17
12               17
13               17
14               17
15               17
16               17
17               17
18               17
19               17
20               17
21               17
22               17
23               17
24               17
25               17
26               17
27               17
28               17
29               17
30               17
31               17
32               17
33               17
34               17
35               17
36               17
37               17
38               17
39               17
40               17
41               17
42               17
43               17
44               17
45               17
46               17
47               17
48               17
49                4
473141 0     0.1
1    -0.1
2    -0.1
3    -0.1
4     0.1
5     0.1
6     0.1
7     0.1
8    -0.1
9     0.1
10    0.1
11   -0.1
12    0.1
13    0.1
14    0.1
15    0.1
16   -0.1
17    0.1
18    0.1
19   -0.1
20    0.1
21    0.1
22    0.1
23   -0.1
24    0.1
25    0.1
26   -0.1
27    0.1
28   -0.1
29   -0.1
30    0.1
31    0.1
32    0.1
33    0.1
34    0.1
35    0.1
36    0.1
37    0.1
38   -0.1
39    0.1
40    0.1
41    0.1
42    0.1
43   -0.1
44   -0.1
45    0.1
46    0.1
47    0.1
48    0.1
49   -0.1
Name: event_value, dtype: float64

In [13]:
X_train['product_0'].fillna('NA', inplace=True)
X_train['product_1'].fillna('NA', inplace=True)
X_train['product_2'].fillna('NA', inplace=True)
X_train['product_3'].fillna('NA', inplace=True)
X_train['product_4'].fillna('NA', inplace=True)
X_train['product_5'].fillna('NA', inplace=True)
X_train['product_6'].fillna('NA', inplace=True)
X_train['gender_cd'].fillna('NA', inplace=True)
X_train['marital_status_cd'].fillna('NA', inplace=True)

In [14]:
print
model = CatBoostRegressor(loss_function=CustomlossObjective(), eval_metric='MAE')

In [ ]:
model.fit(X_train, Y_train, cat_features=[2,3,4,5,6,7,8,9,11])

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.